/*-----------
global css
-------------*/

a {
    text-decoration: none;
}

body {
    overflow-x: hidden;
    margin: 0;
    padding: 0;
}

/* header section */
#ui {
    background-color: beige;
    ;
    padding: 10px;
    margin: 0;

}

#ui li {
    display: inline;
    width: 60%;
    height: 30px;
    line-height: 30px;
    text-transform: capitalize;
    margin-right: 70px;
}

#ui li:first-child {
    text-align: left;
    margin-right: 410px;
    margin-left: 8%;
    font-size: 26pt;
    text-shadow: 0 0 5px black;
}

#ui li:first-child:hover {
    cursor: pointer;
    transition: 0.7s;
}

#ui li a,
#ui li button {
    background: none;
    color: black;
    border: none;
    font-size: 16pt;
    padding: 5px 11px;
    border-radius: 9px;

}

#ui li a:hover,
#ui li button:hover {
    background: rgba(184, 90, 90, 0.39);
    color: white;
    cursor: pointer;
    transition: 0.7s;
}


/* about section */

.row {
    background-color: bisque;
    display: inline-flex;
}

.col {
    display: inline-block;
}

.col img {
    height: 500px;
    width: 600px;
    margin: 20px;
}

.col h1 {
    margin-left: 210px;
    font-size: 20pt;
    margin-bottom: 20px;
    margin-top: 100px;
    text-shadow: 0 0 6px black;
}

.col p {
    font-style: italic;
    margin-top: 20pt;
    font-size: 15pt;
    margin-left: 7%;
    margin-right: 7%;


}

.col button {
    font-size: 20px;
    margin-left: 223px;
    margin-top: 20px;
    background-color: rgba(184, 90, 90, 0.39);
    width: 130px;
    height: 40px;
    border-radius: 5px;
    border: none;
    text-transform: capitalize;
}

.col button:hover {
    background: rgba(184, 90, 90, 0.39);
    color: white;
    cursor: pointer;
    transition: 0.7s;
}

/* order section */
#order {
    width: 100%;
    max-height: 700px;
    /* overflow: hidden; */
}

.time-row {
    background-color: bisque;
    display: inline-flex;
}

.time-col {
    display: inline-block;
    margin-left: 180pt;
    margin-bottom: 20pt;
    text-align: center;
}

.time-col img {
    margin-top: 20pt;
    margin-bottom: 5pt;
    margin-right: 80pt;
}

.time-col h3 {
    font-size: 20pt;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    margin-top: 30pt;
}

.time-col p {
    font-style: italic;
    font-size: 14pt;
    margin-top: 10pt
}


/* products section */

.photo-row {
    text-align: center;
    background-color: beige;
    margin: 0;
    overflow: hidden;
}

.photo-row h1 {
    text-align: center;
    font-size: larger;
    font-size: 30pt;
    margin-top: 50px;
    text-shadow: 0 0 6px black;
}

.photo-col {
    display: inline-block;
    width: 370px;
    height: 450px;
}

.photo-col p {
    font-size: 18px;
    text-align: center;
    text-transform: capitalize;
}

.photo-col #veg {
    font-size: 25px;
    text-shadow: 0 0 6px black;
    font-style: italic;

}

.photo-col button {
    margin-top: 5px;
    width: 100px;
    height: 30px;
    border-radius: 5px;
    border: none;
    text-transform: capitalize;
}

.photo-col button:hover {
    background: rgba(184, 90, 90, 0.39);
    color: white;
    cursor: pointer;
    transition: 0.7s;
}

.photo-row img {
    border-radius: 50px;

}

.photo-col img .tomato {
    margin-top: 40px;
}

#veg {
    font-size: medium;
    font-style: italic;
    font-weight: bold;
}

/* contact us section */

.contact_us {
    text-align: center;
    background-color: beige;
    padding: 10px;
}

.contact_us h1 {
    font-size: 30px;

}

.contact_us input {
    margin-bottom: 10px;
    padding: 5px;
    width: 50%;
}

.contact_us button {
    border: none;
    background-color: none;
    height: 25px;
    line-height: 25px;
    width: 100px;
    font-size: 20px;
}

.contact_us button:hover {
    background: rgba(184, 90, 90, 0.39);
    color: white;
    cursor: pointer;
    transition: 0.7s;
}

.contact_us p {
    margin-bottom: 30px;
    font-size: 16pt;
    text-shadow: 0 0 6px black;
}

/* footer section  */
footer {
    height: 40px;
    line-height: 40px;
    background-color: bisque;
    font-size: 20px;
    text-transform: capitalize;
    margin: 0;
    padding: 0;

}

@media screen and (max-width:1000px) and (min-width:750px) {
    #ui li {
        width: 50%;
        height: 30px;
        line-height: 30px;
        text-transform: capitalize;
        text-align: center;
        margin: auto;
    }
}