/*-----------
global css
-------------*/

a {
    text-decoration: none;
}

body {
    overflow-x: hidden;
    margin: 0;
    padding: 0;
}

/* header section */
header{
    background-color: beige;
}
.menu li {
    display: inline;
    height: 50px;
    line-height: 50px;
    text-transform: capitalize;
    font-size: 25px;
}
.menu li:first-child {
    font-size: 30px;
    text-shadow: 0 0 5px black;
    margin-right: 40%;
    margin-left: 20px;
}

.menu li:first-child:hover {
    cursor: pointer;
    transition: 0.7s;
}

.menu li a {
    background: none;
    color: black;
    border: none;
    padding: 5px 30px;
    border-radius: 9px;

}

.menu li a:hover
 {
    background: rgba(184, 90, 90, 0.39);
    color: white;
    cursor: pointer;
    transition: 0.7s;
}


/* about section */

.about1{
    background-color: bisque;
}
.about1 .aboutimg img {
    height: 400px;
    width: 600px;
    margin: 20px;
}

.about1 .abouttext h1 {
   text-align: center;
    font-size: 20px;
    margin-bottom: 10px;
    margin-top: 50px;
    text-shadow: 0 0 6px black;
}

.about1 .abouttext  p {
    font-style: italic;
    margin-top: 20px;
    font-size: 15pt;
   text-align: center;
}

.about1 .abouttext  button {
    font-size: 20px;
   text-align: center;
    margin-top: 20px;
    background-color: rgba(184, 90, 90, 0.39);
    width: 130px;
    height: 40px;
    border-radius: 5px;
    border: none;
    text-transform: capitalize;
    margin-left: 40%;
}

.about1 .abouttext  button:hover {
    background: rgba(184, 90, 90, 0.39);
    color: white;
    cursor: pointer;
    transition: 0.7s;
}


/* products section */

.photo-row {
    text-align: center;
    background-color: beige;
    margin: 0;
    overflow: hidden;
}

.photo-row h1 {
    text-align: center;
    font-size: larger;
    font-size: 30pt;
    margin-top: 50px;
    margin-bottom: 20px;
    text-shadow: 0 0 6px black;
}

.photo-col {
    display: inline-block;
    width: 370px;
    height: 450px;
}

.photo-col p {
    font-size: 18px;
    text-align: center;
    text-transform: capitalize;
}

.photo-col #veg {
    font-size: 25px;
    text-shadow: 0 0 6px black;
    font-style: italic;

}

.photo-col button {
    margin-top: 5px;
    width: 100px;
    height: 30px;
    border-radius: 5px;
    border: none;
    text-transform: capitalize;
}

.photo-col button:hover {
    background: rgba(184, 90, 90, 0.39);
    color: white;
    cursor: pointer;
    transition: 0.7s;
}

.photo-row img {
    border-radius: 50px;

}
#veg {
    font-size: medium;
    font-style: italic;
    font-weight: bold;
}

/* order section */
#order {
    max-height: 700px;
    background-color: bisque;
}
#order .timetext{
    margin-top: 20px;
    margin-bottom: 5px;
   margin-left: 50px;
   text-align: center;
}

#order .timetext h3 {
    font-size: 30px;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    margin-top: 30px;
}

#order .timetext p {
    font-style: italic;
    margin-top: 10px;
    font-size: 20px;
}
#order .timeimg img {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 80px;
}
/* contact us section */

.contact_us {
    text-align: center;
    background-color: beige;
    padding: 10px;
    text-transform: capitalize;
}

.contact_us h1 {
    font-size: 30px;
padding-top: 20px;

}

.contact_us input {
    margin-bottom: 10px;
    padding: 5px;
    width: 50%;
}

.contact_us button {
    border: none;
    background-color:none;
    height: 35px;
    line-height: 35px;
    width: 100px;
    font-size: 23px;
    margin-bottom: 10px;
    text-transform: capitalize;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
}

.contact_us button:hover {
    background: rgba(184, 90, 90, 0.39);
    color: white;
    cursor: pointer;
    transition: 0.7s;
}

.contact_us p {
    margin-bottom: 30px;
    font-size: 16pt;
    text-shadow: 0 0 6px black;
}

/* footer section  */
footer {
    height: 40px;
    line-height: 40px;
    background-color: bisque;
    font-size: 20px;
    text-transform: capitalize;
    margin: 0;
    padding: 0;

}

@media screen and (max-width:1000px) and (min-width:750px) {
    #ui li {
        width: 50%;
        height: 30px;
        line-height: 30px;
        text-transform: capitalize;
        text-align: center;
        margin: auto;
    }
}